QWEN_API_KEY=
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_CHAT_MODEL=qwen-max
EMBEDDING_MODEL=BAAI/bge-m3
EMBEDDING_DEVICE=cuda
CROSS_ENCODER_MODEL=BAAI/bge-reranker-v2-m3
CROSS_ENCODER_DEVICE=cuda
HNSW_M=32
HNSW_EF_CONSTRUCTION=80
HNSW_EF_SEARCH=64

TEXT_CHUNK_SIZE=500
TEXT_CHUNK_OVERLAP=80
